<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288458910199-oq439ubegm83timd1pj78khuivrk91os.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288458910199-oq439ubegm83timd1pj78khuivrk91os</string>
	<key>API_KEY</key>
	<string>AIzaSyB6ru-A8hnOEuyal4tWukMiTwIARi9dcmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>288458910199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexcerium.CoffeDaily</string>
	<key>PROJECT_ID</key>
	<string>coffee-2765c</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-2765c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288458910199:ios:c9179fa7dd20abc88866f2</string>
</dict>
</plist>